<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./../public/css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="w3-display-container">
    
    <%- include('../includes/navigation') %>

    <div class="w3-card w3-container w3-mobile">
        <form class="w3-container w3-padding" action="/subadminlogin" method="POST">
            <input class="w3-input" type="text" name="email" id="email" placeholder="email">
            <input class="w3-input" type="text" name="password" id="password" placeholder="password">

            <input class="w3-btn w3-teal w3-right" type="submit" value="Login">
        </form>
    </div>
    <% if (error) { %>
     
        <div class="w3-panel w3-red w3-mobile">
            <%= error%>
        </div>
    
        <% } %>
</body>
</html>